<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Green Box (<%= product.name %>)</title>
<link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="../styles/home.css">
<link rel="stylesheet" href="../assests/bootstrap-icons/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="../styles/navbar.css">
<link rel="stylesheet" href="../styles/product.css">
<link rel="stylesheet" href="../styles/footer.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>
<body>
<%- include('../components/navbar.ejs',{active :'',auth,credit}) %>
<main class="py-5 container-fluid">
<div class="container-fluid">
<div class="py-5"></div>
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-lg-5 col-md-4 col-sm-6">
<div class="white-box text-center"><img src="https://www.bootdey.com/image/430x600/00CED1/000000" class="img-fluid"></div>
</div>

<div class="ms-auto col-lg-7 col-md-6 col-sm-6">
<h4 class="box-title mt-5"><%= product.name %></h4>
<p><%= product.description %></p>
<h2 class="mt-5">
<% if(product.isSale === 0) {%>
   $<%= product.price %>
    <% } else {%>
  $<%= product.price - (product.price * product.isSale / 100) %>
  <small class="text-success">(<%= product.isSale %>%off)</small>
    <% } %>
    <br>
    In Credit <%= product.priceCredit %>
</h2>
<div class="quantity-container py-3">
  <button type="button" class="quantity-minus" data-id="<%= product._id %>">-</button>
  <input type="number" class="quantity-input" id="quantity-<%= product._id %>" name="quantity" min="1" value="1" readonly>
  <button type="button" class="quantity-plus" data-id="<%= product._id %>">+</button>
</div>
<button class="add_to_cart btn btn-primary btn-rounded <%= (product.inStock)  ? "" : "disabled"%>" data-id = "<%=product._id %>"><%= (product.inStock)  ? "Add to cart" : "Out of Stock"%></button>
<div class="options py-3">
<% product.options.forEach((option,name )=>{ %>
    <div class="opt">
<h4 class="option-name"><%= name.charAt(0).toUpperCase() + name.slice(1) %></h4>
<% option.forEach((value, index) => { %>
    <input type="radio" class="btn-check" name="options-<%= name %>" id="option-<%= name %>-<%= index %>" autocomplete="off" <%= index === 0 ? 'checked' : '' %>>
    <label class="btn" for="option-<%= name %>-<%= index %>"><%= value %></label>
  <% }) %>
</div>
<% }) %>
<div class="mt-3">
<label for="extracomments" class="form-label">Extra Comments</label>
  <textarea class="form-control w-50" id="extracomments" rows="3" placeholder="Any Extra Comments"></textarea>
  </div>    
</div>
</div>

</div>
</div>
</div>
</div>
</main>

<%- include('../components/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="../js/viewproduct.js"></script>
<script src="../js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>


